# Example mysql config file for large systems.
#
# This is for a large system with memory of 1G-2G where the system runs mainly
# mysql.
#
# mysql programs look for option files in a set of
# locations which depend on the deployment platform.
# You can copy this option file to one of those
# locations. For information about these locations, see:
# http://dev.mysql.com/doc/mysql/en/option-files.html
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all mysql clients
[client]
port    = 3306
socket  = /usr/local/mysql/data/mysql.sock
default-character-set = utf8mb4
# Here follows entries for some specific programs

# The mysql server
[mysqld]
port    = 3306
socket  = /usr/local/mysql/data/mysql.sock
basedir = /usr/local/mysql
datadir = /usr/local/mysql/data
user    = mysql

character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect = 'SET NAMES utf8mb4'

#public config
server-id = 1
back_log = 500
max_connections = 1000
max_allowed_packet = 32M
max_heap_table_size = 64M
table_open_cache = 2048
table_open_cache_instances = 4
tmp_table_size = 64M
query_cache_size = 64M
query_cache_limit = 4M
key_buffer_size = 384M
sort_buffer_size = 8M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
join_buffer_size = 8M

#thread config
thread_cache_size = 128

#network config
skip-host-cache
skip-name-resolve

#other config
lower_case_table_names = 1
skip-external-locking
#mysql5.7+
#日志时区设置为跟随系统
#log_timestamps = SYSTEM

#innodb config
innodb_open_files = 2048
innodb_log_file_size = 128M
innodb_buffer_pool_size = 2G
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_write_io_threads = 16
innodb_read_io_threads = 16
#mysql5.7+
#ibtmp1文件是MySQL5.7使用了独立的临时表空间来存储临时表数据,设置最大值避免塞满磁盘
#innodb_temp_data_file_path = ibtmp1:64M:autoextend:max:5G

#myisam config
myisam_sort_buffer_size = 64M

#binlog config
binlog_format = row
expire_logs_days = 15
max_binlog_size = 512M
sync_binlog = 200
log-bin = mysql-bin
log-bin-index = mysql-bin.index
binlog-ignore-db = mysql
binlog-ignore-db = information_schema
binlog-ignore-db = performance_schema
binlog_cache_size = 4M

#relay-log config
#relay-log = relay-bin
#relay-log-index = relay-bin.index
#replicate-ignore-db = mysql
#replicate-ignore-db = information_schema
#replicate-ignore-db = performance_schema
#replicate-do-db = test

# GTID config
#gtid-mode = ON
#log-slave-updates = ON
#enforce-gtid-consistency = ON
#auto-increment-increment = 2 
#auto-increment-offset = 1

#slow-log config
slow_query_log = 1
long_query_time = 1
#log_queries_not_using_indexes = 1

#wsrep config
#wsrep_provider = /usr/lib64/galera-3/libgalera_smm.so
#wsrep_cluster_address = "gcomm://"
#wsrep_cluster_name = "mycluster"
#wsrep_node_name = "node1"
#wsrep_node_address = "192.168.71.177:4567"
#binlog_format = row
#default_storage_engine = InnoDB
#innodb_autoinc_lock_mode = 2
#bind-address = 0.0.0.0
#wsrep_sst_method = rsync
#wsrep_slave_threads = 16

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
default-character-set = utf8mb4

[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout